@model TPV.Models.Puesto

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="page-header">
    <button onclick="atras()" class="btn btn-default pull-right">
        <i class="fa fa-chevron-left" style="color:#276aa4"></i>
        Atr&aacute;s
    </button>
    <h2>Crear Puesto</h2>
</div>

<form name="CrearPuesto" action="/Puestos/Crear" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model=>model.PuestoID)
    <div class="form-group">
        <label for="Nombre" class="col-lg-2 control-label">Nombre</label>
        <div class="col-md-4">
            <input type="text" name="Nombre" class="form-control" id="Nombre" placeholder="Nombre del Puesto" required />
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", id = "Descripcion", placeholder = "Breve descripción del Puesto" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="Funciones" class="col-lg-2 control-label">Funciones</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" name="Funcion" class="form-control" placeholder="Funcion del Puesto" id="TxtFuncion" />
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="button" onclick="AddFuncion()" id="BtnAddFuncion" value="Agregar">
                </span>
            </div>
            <div class="input-group">
                @Html.DropDownList("Funciones", null, new { id = "Funciones", @class="form-control" })
                @*<select name="Funciones" id="Funciones" class="form-control" required></select>*@
                <span class="input-group-btn">
                    <input class="btn btn-danger" type="button" onclick="DelFuncion()" id="DelAddFuncion" value=" Quitar  ">
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="Estado" class="col-lg-2 control-label">Estado</label>
        <div class="col-lg-10">
            <div class="radio">
                <label>
                    <input type="radio" name="Estado" id="Activo" value="true" required>
                    Activo
                </label>
                <label>
                    <input type="radio" name="Estado" id="Inactivo" value="false">
                    Inactivo
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <input type="reset" class="btn btn-default" value="Limpiar">
            <a href="/Puestos" class="btn btn-danger">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Crear Puesto">
        </div>
    </div>
    </form>
    <script>
        function AddFuncion() {
            var option = document.createElement("option");
            if ($("#TxtFuncion").val() == "" || $("#TxtFuncion").val() == null) {
                alert("MODAL:   La funcion no puede estar en blanco");
            } else {
                option.value = $("#TxtFuncion").val();
                option.text = $("#TxtFuncion").val();
                document.getElementById("Funciones").add(option);
                document.getElementById("Funciones").focus();
                $("#TxtFuncion").val("");
            }
        }

        function DelFuncion() {
            var x = document.getElementById("Funciones");
            x.remove(x.selectedIndex);
            document.getElementById("Funciones").focus();
        }
    </script>
