@model TPV.Models.Puesto

@{
    ViewBag.Title = "Detalles Puesto";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="page-header">
    <button onclick="atras()" class="btn btn-default pull-right">
        <i class="fa fa-chevron-left" style="color:#276aa4"></i>
        Atr&aacute;s
    </button>
    <h2>Detalles Puesto: <ins>@Html.DisplayFor(model => model.Nombre)</ins></h2>
</div>

<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            @*<dl class="dl-horizontal">
                <dt>Nombre</dt>
                <dd>@Html.DisplayFor(model => model.Nombre)</dd>
            </dl>*@
            <label for="Nombre" class="col-lg-2 control-label">Nombre</label>
            <div class="col-md-4">
                <span>@Html.DisplayFor(model => model.Nombre)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, "Descripcion", new { @class = "col-lg-2 control-label" })
            <div class="col-md-4">
                <span>@Html.DisplayFor(model => model.Descripcion)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Funciones, "Funciones", new { @class = "col-lg-2 control-label" })
            <div class="col-sm-3">
                <span>@Html.DisplayFor(model => model.Funciones)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, "Estado", new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                <span>@Html.DisplayFor(model => model.Activo)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                @Html.ActionLink("Editar", "Editar/" + @Html.DisplayFor(model => model.PuestoID),"Puestos", new {@class="btn btn-info" })
            </div>
        </div>
    </fieldset>
</form>