@model TPV.Models.Puesto

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Puesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Puestos")
</p>
