@model TPV.Models.Puesto

@{
    ViewBag.Title = "Editar Puesto";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="page-header">
    <button onclick="atras()" class="btn btn-default pull-right">
        <i class="fa fa-chevron-left" style="color:#276aa4"></i>
        Atr&aacute;s
    </button>
    <h2>Editar Puesto: <ins>@Html.DisplayFor(model => model.Nombre)</ins></h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PuestoID)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-lg-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", id = "Nombre", placeholder = "Nombre del Puesto" })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", id = "Descripcion", placeholder = "Breve descripción del Puesto", maxlength = "128" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Funciones, new { @class = "control-label col-lg-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Funciones, new { @class = "form-control", id = "Funciones", placeholder = "Funciones del Puesto", maxlength = "128" })
                @Html.ValidationMessageFor(model => model.Funciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                <div class="radio">
                    @Html.CheckBoxFor(model => model.Activo)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="/Puestos" class="btn btn-danger">Cancelar</a>
                <input type="submit" class="btn btn-primary" value="Actualizar Puesto">
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}

