@model TPV.Models.Empleado

@{
    ViewBag.Title = "Detalles Empleado";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="page-header">
    <button onclick="atras()" class="btn btn-default pull-right">
        <i class="fa fa-chevron-left" style="color:#276aa4"></i>
        Atr&aacute;s
    </button>
    <h2>Detalles Empleado: <ins>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</ins></h2>
</div>

<div class="form-horizontal">
    <div class="form-group">
        @*<dl class="dl-horizontal">
                <dt>Nombre</dt>
                <dd>@Html.DisplayFor(model => model.Nombre)</dd>
            </dl>*@
        @Html.LabelFor(model => model.Nombre, "Nombre", new { @class = "col-lg-2 control-label" })
        <div class="col-md-4">
            <span class="btn btn-link">@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sexo, "Sexo", new { @class = "col-lg-2 control-label" })
        <div class="col-md-4">
            <span class="btn btn-link">@Html.DisplayFor(model => model.Sexo)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaNacimiento, "Fecha de Nacimiento", new { @class = "col-lg-2 control-label" })
        <div class="col-md-4">
            <span class="btn btn-link">@Html.DisplayFor(model => model.FechaNacimiento)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cedula, "Cedula", new { @class = "col-lg-2 control-label" })
        <div class="col-sm-3">
            <span class="btn btn-link">@Html.DisplayFor(model => model.Cedula)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefono, "Telefono", new { @class = "col-lg-2 control-label" })
        <div class="col-sm-3">
            <span class="btn btn-link">@Html.DisplayFor(model => model.Telefono)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Salario, "Salario", new { @class = "col-lg-2 control-label" })
        <div class="col-sm-3">
            <span class="btn btn-link">@Html.DisplayFor(model => model.Salario)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Puesto, "Puesto", new { @class = "col-lg-2 control-label" })
        <div class="col-sm-3">
            <span>
                <a href="/Puestos/Detalles/@Html.DisplayFor(model => model.Puesto.PuestoId)" class="btn btn-info">
                    @Html.DisplayFor(model => model.Puesto.Nombre)
                    <i class="fa fa-share"></i>
                </a>
            </span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Codigo, "Codigo", new { @class = "col-lg-2 control-label" })
        <div class="col-sm-3">
            <span class="btn btn-link">@Html.DisplayFor(model => model.Codigo)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaEntrada, "Fecha de Entrada", new { @class = "col-lg-2 control-label" })
        <div class="col-md-4">
            <span class="btn btn-link">@Html.DisplayFor(model => model.FechaEntrada)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Estado, "Estado", new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            <span class="btn btn-link">@Html.DisplayFor(model => model.Estado)</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <a class="btn btn-info" href="/Empleados/Editar/@Html.DisplayFor(model => model.EmpleadoId)">
                Editar
                <i class="fa fa-pencil"></i>
            </a>
        </div>
    </div>
</div>