@model IEnumerable<TPV.Models.Empleado>

@{
    ViewBag.Title = "Todos Los Empleados";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="page-header">

    <div class="pull-right">
        <a href="#" class="btn btn-default" disabled>
            <i class="glyphicon glyphicon-trash"></i>
            Eliminar Seleccionados
        </a>

        <a href="/Empleados/Crear" class="btn btn-default">
            <i class="glyphicon glyphicon-plus" style="color:#276aa4"></i>
            Nuevo
        </a>

        <button onclick="atras()" class="btn btn-default">
            <i class="fa fa-chevron-left" style="color:#276aa4"></i>
            Atr&aacute;s
        </button>
    </div>

    <h2>Gestion de Empleados</h2>
</div>

<div class="row">
    <table class="table table-responsive table-condensed table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>
                    <strong>
                        <input type="checkbox">
                    </strong>
                </th>
                <th>
                    <strong>
                        #
                        <a href="#" class="active"><i class="fa fa-caret-down fa-flip-vertical"></i></a>
                    </strong>
                </th>
                <th>
                    <strong>
                        Nombre
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong>
                </th>
                <th>
                    <strong>
                        Apellido
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong>
                </th>
                <th>
                    <strong>
                        Puesto
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong>
                </th>
                <th class="text-center">
                    <strong>Acciones</strong>
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                var x = 0;
                var activoSeleccion = "";
            }
            @foreach (var empleado in Model)
            {
                x++;
                activoSeleccion = (ViewBag.activoSeleccion == empleado.EmpleadoID) ? "bg-success" : "";

                <tr class="@activoSeleccion.ToString()">
                    <td><input type="checkbox"></td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.EmpleadoID)">
                            @Html.Encode(x)
                        </a>
                    </td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.PuestoID)">
                            @Html.DisplayFor(Nombre => empleado.Nombre)
                        </a>
                    </td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.PuestoID)">
                            @Html.DisplayFor(Nombre => empleado.Apellido)
                        </a>
                    </td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.PuestoID)">
                            @Html.DisplayFor(Nombre => empleado.Puesto)
                        </a>
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.PuestoID)" class="btn btn-default" id="">
                                <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                            </a>
                            <a href="/Empleados/Editar/@Html.DisplayFor(id => empleado.PuestoID)" class="btn btn-default" id="">
                                <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                            </a>
                            <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.PuestoID)" class="btn btn-default" id="">
                                <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                activoSeleccion = "";
            }
        </tbody>

        <tfoot>

        </tfoot>
    </table>
</div>
