@model IEnumerable<TPV.Models.Empleado>

@{
    ViewBag.Title = "Todos Los Empleados";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="page-header">

    <div class="pull-right">
        <a href="#" class="btn btn-default" disabled>
            <i class="glyphicon glyphicon-trash"></i>
            Eliminar Seleccionados
        </a>

        <a href="/Empleados/Crear" class="btn btn-default">
            <i class="fa fa-plus fa-lg" style="color:#276aa4"></i>
            Nuevo
        </a>

        <button onclick="atras()" class="btn btn-default">
            <i class="fa fa-chevron-left fa-lg" style="color:#276aa4"></i>
            Atr&aacute;s
        </button>
    </div>

    <h2>Gestion de Empleados</h2>
</div>

<div class="row">
    <table class="table table-responsive table-condensed table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>
                    <strong>
                        <input type="checkbox">
                    </strong>
                </th>
                <th>
                    <strong>
                        #
                        <a href="#" class="active"><i class="fa fa-caret-down fa-flip-vertical"></i></a>
                    </strong>
                </th>
                <th>
                    <strong>
                        Nombre
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong>
                </th>
                <th>
                    <strong>
                        Apellido
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong>
                </th>
                <th>
                    <strong>
                        ID Empleado
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong>
                </th>
                <th>
                    <strong>
                        Puesto
                        <a href="#"><i class="fa fa-caret-down"></i></a>
                    </strong>
                </th>
                <th class="text-center">
                    <strong>Acciones</strong>
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                var x = 0;
                var activoSeleccion = "";
            }
            @foreach (var empleado in Model)
            {
                x++;
                activoSeleccion = (ViewBag.activoSeleccion == empleado.EmpleadoID) ? "bg-success" : "";

                <tr class="@activoSeleccion.ToString()">
                    <td><input type="checkbox"></td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.EmpleadoID)">
                            @Html.Encode(x)
                        </a>
                    </td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.EmpleadoID)">
                            @Html.DisplayFor(Nombre => empleado.Nombre)
                        </a>
                    </td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.EmpleadoID)">
                            @Html.DisplayFor(Apellido => empleado.Apellido)
                        </a>
                    </td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.EmpleadoID)">
                            @Html.DisplayFor(EmpleadoCodigo => empleado.Codigo)
                        </a>
                    </td>
                    <td>
                        <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.EmpleadoID)">
                            @Html.DisplayFor(EmpleadoPuesto => empleado.Puesto.Nombre)
                        </a>
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="/Empleados/Detalles/@Html.DisplayFor(id => empleado.EmpleadoID)" class="btn btn-default" name=@Html.DisplayFor(id => empleado.EmpleadoID)>
                                <i class="fa fa-eye fa-lg" style="color:#276aa4"></i>
                            </a>
                            <a href="/Empleados/Editar/@Html.DisplayFor(id => empleado.EmpleadoID)" class="btn btn-default" name=@Html.DisplayFor(id => empleado.EmpleadoID)>
                                <i class="fa fa-pencil fa-lg" style="color:#276aa4"></i>
                            </a>
                            <a href="#"
                            @*<a href="/Empleados/Borrar/@Html.DisplayFor(id => empleado.EmpleadoID)"*@
                               class="btn btn-default borrar"
                               name=@string.Concat(empleado.Nombre, '-', empleado.Apellido)
                               onclick="ValidarBorrar(this, event, @Html.DisplayFor(id => empleado.EmpleadoID))">
                                <i class="fa fa-trash fa-lg" style="color:#276aa4"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                activoSeleccion = "";
            }
        </tbody>

        <tfoot>

        </tfoot>
    </table>
</div>

<script>

    function ValidarBorrar(source, event, id) {
        var nombre = source.name.replace("-", " ");
        event.preventDefault();
        swal(
        {
            title: "¿Borrar: " + nombre + "?",
            text: "Confirme antes de borrar",
            type: "info",
            allowOutsideClick: true,
            showCancelButton: true,
            showLoaderOnConfirm: true,
            confirmButtonColor: "#d9534f",
            confirmButtonText: "Si, borrar!",
            cancelButtonText: "No, cancelar!",
            closeOnConfirm: false,
            closeOnCancel: true,
        }, function () {
            setTimeout(function () {
                $.ajax({
                    url: '@Url.Action("Borrar", "Empleados")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {}
                })
                swal({
                    title: nombre + " fue borrado con exito",
                    type: "success"
                }, function () {
                    location.reload();
                });                
            }, 800);
        });
    }

    @*function ValidarBorrar(source, event, id) {
        var nombre = source.name.replace("-", " ");
        var borrado = false;

        event.preventDefault();

        swal({
            title: "¿Borrar: " + nombre + "?",
            text: "Confirme antes de borrar",
            type: "warning",
            allowOutsideClick: true,
            showCancelButton: true,
            confirmButtonColor: "#d9534f",
            confirmButtonText: "Si, borrar!",
            cancelButtonText: "No, cancelar!",
            closeOnConfirm: false,
            closeOnCancel: true,
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: '@Url.Action("Borrar", "Empleados")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {}
                }).done(function (data) {
                    swal({
                        title: nombre,
                        text: "Fue borrado con exito",
                        type: "success"
                    }, function () {
                        location.reload();
                    });

                }).error(function (data) {
                    swal(
                        "Cancelado",
                        "No pudimos conectar con el servidor",
                        "error"
                        );
                });
            }
        });
    }*@
</script>