@model TPV.Models.Usuario
@{
    ViewBag.Title = "Inicio de Sesion";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="loginForm">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 well">
            @using (Html.BeginForm("Login", "Usuarios", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div>
                    <div class="input-group">
                        <label class="input-group-addon"><i class="glyphicon glyphicon-user"></i></label>
                        @Html.TextBoxFor(m => m.User, new { @class = "form-control", placeholder = "Usuario" })
                    </div>
                    @Html.ValidationMessageFor(m => m.User)
                </div>
                <br>
                <div>
                    <div class="input-group">
                        <label class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></label>
                        @Html.PasswordFor(m => m.Clave, new { @class = "form-control", placeholder = "Clave de Acceso" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Clave)
                </div>
                <br>
                @*@Html.ActionLink("Iniciar sesion", "Login", "Usuarios", new {@class = "btn btn-primary btn-block"})*@
                <input class="btn btn-primary btn-block" name="btnLogin" type="submit" value="Iniciar Sesion" />
            }
        </div>
        <div class="col-md-4">
        </div>
    </div>
</section>