@model TPV.Models.Login
@{
    ViewBag.Title = "Inicio de Sesion";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="loginForm">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 well">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <label class="input-group-addon"><i class="glyphicon glyphicon-user"></i></label>
                    @Html.TextBoxFor(m => m.User, new { @class = "form-control", placeholder = "Usuario" })
                    @Html.ValidationMessageFor(m => m.User)
                </div>
                <br>
                <div class="input-group">
                    <label class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></label>
                    @Html.PasswordFor(m => m.Clave, new { @class = "form-control", placeholder = "Clave de Acceso" })
                    @Html.ValidationMessageFor(m => m.Clave)
                </div>
                <br>
                <input class="btn btn-primary btn-block" name="btnLogin" type="submit" value="Iniciar Sesion" />
            }
        </div>
        <div class="col-md-4">
        </div>
    </div>
</section>